@{
    ViewBag.Title = "Home Page";
}

<article class="post">
    <header class="article-title text-center">
        <h2><a href="single.html">Welcome, Citizen!</a></h2>
    </header>
    <div class="article-featured-content shadow-z-2">
        <a href="single.html"><img class="img-responsive" src="img/post-2.jpg" alt=""></a>
    </div>
    <div class="post-summary">
        <p>
            Our mission is to provide protection against villains and educate our community about safety. We hope
            to develop a community of pro-active citizens who are vigilant in keeping streets safe through knowledge
            and awareness
        </p>
    </div>
    
</article>